<!-- Apply layout from base.html -->
{%extends 'warehousing/staff/default/base.html'%} 


<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Dashboard</h1> 
                    <p class="text-muted">This is STAFF</p>
                </div>
    
                <!-- Breadcrumb -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Home</li>            
                    </ol>
                </div>
                <!-- / breadcrumb -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content">
        <!-- container-fluid -->
        <div class="container-fluid">
            <!-- Info Boxes -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-info" id="pending_request">
                          
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-warning" id="pending_return">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Pending Return</p>   
                        </div>
                        <div class="icon">
                            <i class="fas fa-box"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-secondary" id="total_stock_in_out">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Today's Total Stock In/Out</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-clipboard-check"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small card -->
                    <div class="small-box bg-danger" id="supply_low_stock">
                        <div class="inner">
                            <h3>0</h3>
                            <p>Supply Low on Stock</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-cubes"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- / Info Boxes -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{%endblock%}
{%block scripts%}
    <script src="{{url_for('static', path='/dist/js/warehousing/staff/dashboardStaff.js')}}"></script>
{%endblock%}