<!-- Apply layout from base.html -->
{%extends 'warehousing/staff/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Return</h1>
                    <p class="text-muted">This is subheading</p>
                </div>

                <!-- Breadcrumb -->
                <!-- <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item " id ="dashboard_nav"><a href="/warehousing/staff/dashboard">Home </a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <script>if(window.location.pathname == '/warehousing/staff/dashboard/'){document.getElementById("dashboard_nav").classList.add('active')}</script>
                        <li class="breadcrumb-item" id ="return_nav">Return</li>
                        <script>if(window.location.pathname == '/warehousing/staff/return/'){document.getElementById("return_nav").classList.add('active')}</script>
                    </ol>
                </div> -->
                <!-- / breadcrumb -->
            </div>
            <div class="row">     
                <!-- Button -->
                <div class="col-sm-6">
                    <!-- <a href="#" class="btn btn-success" data-toggle="modal" data-target="#adding_modal" onClick="return addData()">Add New Return</a> -->
                    <!-- <input type="submit" value="Create new Project" class="btn btn-success float-right"> -->
                </div>
                <!-- / Button -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- For TESTING -->
    <!-- <div class="row align-items-center justify-content-center"> -->
        <!-- Python conditional statement -->
        <!-- {%for user in users%}
            <div class="card card-outline card-primary w-75">
                <div class="card-header">
                    <div class="h3">ID: {{user.user_id}}</div>
                    <div class="subtitle">Email: {{user.user_email}}</div>
                </div>
                <div class="card-body">
                    <div>Date Created: {{user.created_at}}</div>
                </div>
            </div>
        {%else%}
            <h3>No users to show.</h3>
        {%endfor%}
    </div> -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <h3 class="card-title">Return</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Return ID</th>
                                        <th>Return Date</th>
                                        <th>Returner</th>
                                        <th>Return Type</th>
                                        <th>Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <!-- Adding/Updating Return Modal -->
    <div class="modal fade" id="adding_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Return Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="form_id" name="form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="uuid" id="uuid" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="return_date" id="return_dateLabel">Return Date</label>
                                        <input type="date" class="form-control" id="return_date" placeholder="Enter Date">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="returner">Returner</label>
                                        <select class="form-control" id="returner" name="returner">
                                            <option value="Warehouse">Warehouse</option>
                                            <option value="Procurement">Procurement</option>
                                            <option value="Hospital Department">Hospital Department</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="return_type">Return type</label>
                                        <select class="form-control" id="return_type" name="return_type">
                                            <option value="For Return">For Return</option>
                                            <option value="To Return">To Return</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="return_status" id="return_statusLabel">Return Status</label>
                                        <select class="form-control" id="return_status" name="return_status">
                                            <option value="Pending">Pending</option>
                                            <option value="For Delivery">For Delivery</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_add">Add</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Adding User Modal -->
{%endblock%}

{%block scripts%}
<script src="{{url_for('static', path='/dist/js/warehousing/admin/return.js')}}"></script>
{%endblock%}


