<!-- Apply layout from base.html -->
{%extends 'warehousing/admin/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Hospital Departments</h1>
                </div>

                <!-- Breadcrumb -->
                <div class="col-sm-6">
                    <os</a></li>  
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="#">Supplies</a></li>
                        <li class="breadcrumb-item"><a href="#">Supply Categories</a></li>
                        <li class="breadcrumb-item"><a href="#">Inventories</a></li>
                        <li class="breadcrumb-item"><a href="#">Inventory Location</a></li>
                        <li class="breadcrumb-item"><a href="#">Request</a></li>
                        <li class="breadcrumb-item"><a href="#">Outbound</a></li>
                        <li class="breadcrumb-item"><a href="#">Inbound</a></li>
                        <li class="breadcrumb-item"><a href="#">Suppliers</a></li>
                        <li class="breadcrumb-item"><a href="#">Warehouses</a></li>
                        <li class="breadcrumb-item active">Hospital Departments</li>
                        <li class="breadcrumb-item"><a href="#">Users</a></li>
                        <li class="breadcrumb-item"><a href="#">Employee
                </div>
                <!-- / breadcrumb -->
            </div>
            <div class="row">     
                <!-- Button -->
                <div class="col-sm-6">
                    <a href="#" class="btn btn-success">Add New Hospital Department</a>
                    <!-- <input type="submit" value="Create new Project" class="btn btn-success float-right"> -->
                </div>
                <!-- / Button -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- For TESTING -->
    <!-- <div class="row align-items-center justify-content-center"> -->
        <!-- Python conditional statement -->
        <!-- {%for user in users%}
            <div class="card card-outline card-primary w-75">
                <div class="card-header">
                    <div class="h3">ID: {{user.user_id}}</div>
                    <div class="subtitle">Email: {{user.user_email}}</div>
                </div>
                <div class="card-body">
                    <div>Date Created: {{user.created_at}}</div>
                </div>
            </div>
        {%else%}
            <h3>No users to show.</h3>
        {%endfor%}
    </div> -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <h3 class="card-title">Hospital Departments</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Department Name</th>
                                        <th>Hospital Manager ID</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{%endblock%}

{%block scripts%}
    <script src="{{url_for('static', path='/dist/js/warehousing/admin/hospital_departments.js')}}"></script>
{%endblock%}


