<!-- Apply layout from base.html -->
{%extends 'warehousing/admin/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Supply Categories</h1>
                    <p class="text-muted">This is subheading</p>
                </div>

                <!-- Breadcrumb -->
                <!-- <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item " id ="dashboard_nav"><a href="/warehousing/admin/dashboard">Home </a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <script>if(window.location.pathname == '/warehousing/admin/dashboard/'){document.getElementById("dashboard_nav").classList.add('active')}</script>
                        <li class="breadcrumb-item" id ="supply_categories_nav">Supply Categories</li>
                        <script>if(window.location.pathname == '/warehousing/admin/supply_categories/'){document.getElementById("supply_categories_nav").classList.add('active')}</script>
                    </ol>
                </div> -->
                <!-- / breadcrumb -->
            </div>
            <br>
            <div class="row">     
                <!-- Button -->
                <!-- <div class="col-sm-6">
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#adding_modal">Add New Supply Category</a>
                </div> -->
                <!-- / Button -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- For TESTING -->
    <!-- <div class="row align-items-center justify-content-center"> -->
        <!-- Python conditional statement -->
        <!-- {%for user in users%}
            <div class="card card-outline card-primary w-75">
                <div class="card-header">
                    <div class="h3">ID: {{user.user_id}}</div>
                    <div class="subtitle">Email: {{user.user_email}}</div>
                </div>
                <div class="card-body">
                    <div>Date Created: {{user.created_at}}</div>
                </div>
            </div>
        {%else%}
            <h3>No users to show.</h3>
        {%endfor%}
    </div> -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <div class="row"> 
                                <div class="col-md-6">
                                    <h3 class="card-title">Supply Categories</h3>
                                </div>
                                <!-- Button -->
                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#adding_modal">Add New Supply Category <i class="fas fa-plus"></i></button>
                                    <!-- <input type="submit" value="Create new Project" class="btn btn-success float-right"> -->
                                </div>
                                <!-- / Button -->
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-hover" cellspacing="0" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th width="25%">Supply Category Name</th>
                                        <th width="25%">Suppy Category Description</th>
                                        <th width="25%">Date Created</th>
                                        <th width="25%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section><!-- /.content -->

     <!-- Adding supply category Modal -->
     <div class="modal fade" id="adding_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-file-alt"></i>
                        Supply Category Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="form_id" name="form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="uuid" id="uuid" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="supply_category_name" id="supply_category_nameLabel">Supply Category Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="supply_category_name" placeholder="Enter Supply Category Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="supply_category_description" id="supply_category_descriptionLabel">Supply Category Descrription</label> <span class="required-field"> </span>
                                        <textarea class="form-control" id="supply_category_description" placeholder="Enter Supply Category Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_add">Submit</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Adding supply category Modal -->

    <!-- Editing supply category Modal -->
    <div class="modal fade" id="editing_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-file-alt"></i>
                        Edit Supply Category</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_viewing">
                    <!-- CONTENT -->
                    <form id="e_form_id" name="e_form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="e_uuid" id="e_uuid" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_supply_category_name" id="e_supply_category_nameLabel">Supply Category Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="e_supply_category_name" placeholder="Enter Supply Category Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_supply_category_description" id="e_supply_category_descriptionLabel">Supply Category Descrription</label> <span class="required-field"> </span>
                                        <textarea class="form-control" id="e_supply_category_description" placeholder="Enter Supply Category Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_save">Save Changes</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Viewing supply category Modal -->
       
    <!-- Delete Modal -->
       <div class="modal fade" id="delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-exclamation-triangle mr-1"></i>
                        Confirmation</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_viewing">
                        <!-- CONTENT -->
                        <form id="d_form_id" name="d_form_id" enctype="multipart/form_data">
                            <div class="card-body">
                                Are you sure you want to Delete?
                                <input type="hidden" name="d_uuid" id="d_uuid" value="" />
                            </div>
                        <!-- END CONTENT  -->
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" id="button_delete">Yes, Delete it!<i class= "fas fa-trash-alt ml-1"></i></button>
                            </div>
                        <!-- END BUTTONS -->
                        </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Delete Modal -->
{%endblock%}

{%block scripts%}
<script src="{{url_for('static', path='/dist/js/warehousing/admin/supply_categories.js')}}"></script>
{%endblock%}