<!-- Apply layout from base.html -->
{%extends 'warehousing/admin/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>View Supply</h1>
                    <p class="text-muted">This is subheading</p>
                </div>

                <!-- Breadcrumb -->
                <!-- <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item " id ="dashboard_nav"><a href="/warehousing/admin/dashboard">Home </a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <script>if(window.location.pathname == '/warehousing/admin/dashboard/'){document.getElementById("dashboard_nav").classList.add('active')}</script>
                        <li class="breadcrumb-item" id ="supplies_nav"><a href="/warehousing/admin/supplies">Supplies</a></li>                    </ol>
                </div> -->
                <!-- / breadcrumb -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <div class="h3">{{supplies.supply_name}}</div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <b>ID:</b>
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_id}}
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Supply Category:</b>
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_category_id}}
                                </div>    
                            </div>
                            <div class="row">                           
                                <div class="col-md-3">
                                    <b>Supplier:</b>
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supplier_id}}
                                </div>                           
                            </div>
                            <div class="row">                           
                                <div class="col-md-3">
                                    <b>Quanity:</b>
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_quantity}}
                                </div>                     
                            </div>
                            <div class="row">                        
                                <div class="col-md-3">
                                    <b>Unit Type:</b> 
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_unit_type}}
                                </div>              
                            </div>
                            <div class="row">                      
                                <div class="col-md-3">
                                    <b>Unit Cost:</b> 
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_unit_cost}}
                                </div>                     
                            </div>
                            <div class="row">                            
                                <div class="col-md-3">
                                    <b>Description:</b>
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_description}}
                                </div>                          
                            </div>
                            <div class="row">                            
                                <div class="col-md-3">
                                    <b>Reorder Interval:</b> 
                                </div>
                                <div class="col-md-6">
                                    {{supplies.supply_reorder_interval}}
                                </div>                       
                            </div>
                            <div class="row">                           
                                <div class="col-md-3">
                                    <b>Expiration Date:</b>  
                                </div>
                                <div class="col-md-3">
                                    {{supplies.supply_expiration}}
                                </div>                     
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-body">
                            <div>Date Created: {{supplies.created_at}}</div>
                            <div class="row">                           
                                <div class="col-md-3">
                                    <b>QR CODE:</b>  
                                </div>                 
                            </div>
                            <div class="row">                           
                                <div id="qrcode">

                                </div>                      
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->   
    
    <!-- <div class="container">
        <div class="row">
          <div class="col-md-6">
            <video id="preview" width="100%"></video>
          </div>
          <div class="col-md-6">
            <label>SCAN QR CODE</label>
            <input type="text" name="text" id="text"  placeholder="scan qrcode" class="form-control">
          </div>
        </div>
    </div> -->
{%endblock%}


{%block scripts%}
    <!-- <script>
        document.addEventListener("DOMContentLoaded", event => {
        let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
        Instascan.Camera.getCameras().then(cameras => {
            scanner.camera = cameras[cameras.length - 1];
            scanner.start();
        }).catch(e => console.error(e));

        scanner.addListener('scan', content => {
            console.log(content);
        });

        });
    </script> -->
    <!-- <script>
        document.addEventListener("DOMContentLoaded", event => 
        {
        let scanner = new Instascan.Scanner({video: document.getElementById('preview')});
            Instascan.Camera.getCameras().then(function(cameras) 
            { 
                console.log(cameras)
                if(cameras.length > 0 ) 
                {
                    scanner.camera = cameras[cameras.length - 1];
                    scanner.start(cameras[cameras.length - 1]);
                }
                else 
                {
                    alert("No cameras found");
                }
            }).catch(function(e) 
                {
                    console.error(e);
                });

            scanner.addListener('scan', function(c) 
            {
                document.getElementById('text').val = c;
            });
        });

    </script> -->
    <script> 
        var supply_id = _GET('supply_id') 

        console.log(supply_id);
    </script>
    <script src="{{url_for('static', path='/dist/js/warehousing/admin/viewSupplies.js')}}"></script>
{%endblock%}


