<!-- Apply layout from base.html -->
{%extends 'warehousing/manager/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Employees</h1>
                    <p class="text-muted">This is subheading</p>
                </div>

                <!-- Breadcrumb -->
                <!-- <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item " id ="dashboard_nav"><a href="/warehousing/manager/dashboard">Home </a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <script>if(window.location.pathname == '/warehousing/manager/dashboard/'){document.getElementById("dashboard_nav").classList.add('active')}</script>
                        <li class="breadcrumb-item" id ="employees_nav">Employees</li>
                        <script>if(window.location.pathname == '/warehousing/manager/employees/'){document.getElementById("employees_nav").classList.add('active')}</script>
                    </ol>
                </div> -->
                <!-- / breadcrumb -->
            </div>
            <div class="row">     
                <!-- Button -->
                <!-- <div class="col-sm-6">
                    <a href="#" class="btn btn-success" data-toggle="modal" data-target="#adding_modal">Add New Employee</a>
                </div> -->
                <!-- / Button -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- For TESTING -->
    <!-- <div class="row align-items-center justify-content-center"> -->
        <!-- Python conditional statement -->
        <!-- {%for user in users%}
            <div class="card card-outline card-primary w-75">
                <div class="card-header">
                    <div class="h3">ID: {{user.user_id}}</div>
                    <div class="subtitle">Email: {{user.user_email}}</div>
                </div>
                <div class="card-body">
                    <div>Date Created: {{user.created_at}}</div>
                </div>
            </div>
        {%else%}
            <h3>No users to show.</h3>
        {%endfor%}
    </div> -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <div class="row"> 
                                <div class="col-md-6">
                                    <h3 class="card-title">Employees</h3>
                                </div>
                                <!-- Button -->
                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#adding_modal">Add New Employee <i class="fas fa-plus"></i></button>
                                    <!-- <input type="submit" value="Create new Project" class="btn btn-success float-right"> -->
                                </div>
                                <!-- / Button -->
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="10%">User ID</th>
                                        <th width="5%">User Type</th>
                                        <th width="10%">First Name</th>
                                        <th width="10%">Middle Name</th>
                                        <th width="10%">Last Name</th>
                                        <th width="5%">Age</th>
                                        <th width="10%">Contact</th>
                                        <th width="10%">Address</th>
                                        <th width="25%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

     <!-- Adding Employee Modal -->
     <div class="modal fade" id="adding_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-file-alt"></i>
                        Employee Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="form_id" name="form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="uuid" id="uuid" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="user_id" id="user_idLabel">User</label> <span class="required-field"> </span>
                                        <select class="form-control js-example-basic-single" id="user_id" name="user_id">
                                            <option value="">Not a System User</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="user_type">Employee Type</label> <span class="required-field"> </span>
                                        <select class="form-control js-example-basic-single" id="user_type" name="user_type">
                                            <option value="Manager">Manager</option>
                                            <option value="Staff">Staff</option>
                                            <option value="Driver">Driver</option>
                                             <option value="Department Manager">Department Manager</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_first_name" id="employee_first_nameLabel">First Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="employee_first_name" placeholder="First Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_middle_name" id="employee_middle_nameLabel">Middle Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="employee_middle_name" placeholder="Middle Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_last_name" id="employee_last_nameLabel">Last Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="employee_last_name" placeholder="Last Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_age" id="employee_ageLabel">Age</label> <span class="required-field"> </span>
                                        <input type="number" class="form-control" id="employee_age" placeholder="Enter Employee Age" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_contact" id="employee_contactLabel">Contact #</label> <span class="required-field"> </span>
                                        <input type="number" class="form-control" id="employee_contact" placeholder="Enter Employee Contact#" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="employee_address" id="employee_addressLabel">Address </label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="employee_address" placeholder="Enter Employee Address" required>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_add">Add</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Adding Employee Modal -->

    <!-- Editing Employee Modal -->
    <div class="modal fade" id="editing_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-file-alt"></i>
                        Edit Employee</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_viewing">
                    <!-- CONTENT -->
                    <form id="e_form_id" name="e_form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <div class="row">
                                <input type="hidden" name="e_uuid" id="e_uuid" value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_user_id" id="e_user_idLabel">User</label> <span class="required-field"> </span>
                                        <select class="form-control js-example-basic-single" id="e_user_id" name="e_user_id">
                                            <option value="">Not a System User</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_user_type">Employee Type</label> <span class="required-field"> </span>
                                        <select class="form-control js-example-basic-single" id="e_user_type" name="e_user_type">
                                            <option value="Manager">Manager</option>
                                            <option value="Staff">Staff</option>
                                            <option value="Driver">Driver</option>
                                            <option value="Department Manager">Department Manager</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_first_name" id="e_employee_first_nameLabel">First Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="e_employee_first_name" placeholder="First Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_middle_name" id="e_employee_middle_nameLabel">Middle Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="e_employee_middle_name" placeholder="Middle Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_last_name" id="e_employee_last_nameLabel">Last Name</label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="e_employee_last_name" placeholder="Last Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_age" id="e_employee_ageLabel">Age</label> <span class="required-field"> </span>
                                        <input type="number" class="form-control" id="e_employee_age" placeholder="Enter Employee Age" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_contact" id="e_employee_contactLabel">Contact #</label> <span class="required-field"> </span>
                                        <input type="number" class="form-control" id="e_employee_contact" placeholder="Enter Employee Contact#" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_employee_address" id="e_employee_addressLabel">Address </label> <span class="required-field"> </span>
                                        <input type="input" class="form-control" id="e_employee_address" placeholder="Enter Employee Address" required>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_save">Save</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Editing Employee Modal -->

       <!-- Delete Modal -->
       <div class="modal fade" id="delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class= "fas fa-exclamation-triangle mr-1"></i>
                        Confirmation</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body" id="modal_viewing">
                        <!-- CONTENT -->
                        <form id="d_form_id" name="d_form_id" enctype="multipart/form_data">
                            <div class="card-body">
                                Are you sure you want to Delete?
                                <input type="hidden" name="d_uuid" id="d_uuid" value="" />
                            </div>
                        <!-- END CONTENT  -->
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" id="button_delete">Yes, Delete it!<i class= "fas fa-trash-alt ml-1"></i></button>
                            </div>
                        <!-- END BUTTONS -->
                        </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Delete Modal -->

{%endblock%}

{%block scripts%}
    <script src="{{url_for('static', path='/dist/js/warehousing/admin/employees.js')}}"></script>
{%endblock%}


