<!-- Apply layout from base.html -->
{%extends 'warehousing/manager/default/base.html'%} 

<!-- Enter content for block 'content' -->
{%block content%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <!-- Title -->
                <div class="col-sm-6">
                    <h1>Request Detail</h1>
                    <p class="text-muted">This is subheading</p>
                </div>

                <!-- Breadcrumb -->
                <!-- <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item " id ="dashboard_nav"><a href="/warehousing/manager/dashboard">Home </a></li>
                        <li>&nbsp; / &nbsp;</li>
                        <script>if(window.location.pathname == '/warehousing/manager/dashboard/'){document.getElementById("dashboard_nav").classList.add('active')}</script>
                        <li class="breadcrumb-item" id ="supplies_nav"><a href="/warehousing/manager/request">Request</a></li>                    
                    </ol>
                </div> -->
                <!-- / breadcrumb -->
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main Content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="h5" id="card_header_id">
                                    </div>
                                </div>
                                <div class="col-md-3" id="send_request_id">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <form>
                                <div class="row" id="rd_id">

                                </div>
                            </form>
                            <hr>
                            <div class="row" id="sp_id">
                            
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- <div class="card-body">
                            <div>Date Created: </div>
                        </div> -->
                    </div>
                    <!-- /.card -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Card -->
                    <div class="card card-primary card-outline">
                        <!-- Card Header -->
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Requested Supplies</h3>
                                </div>
                                <div class="col" id="add_supply_id">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <table id="data-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="15%">Supply</th>
                                        <th width="15%">Quantity</th>
                                        <th width="15%">Status</th>
                                        <th width="25%" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->   
    
    <!-- Adding Supply Request Modal -->
    <div class="modal fade" id="adding_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Supply Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="form_id" name="form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <input type="hidden" id="uuid" name="uuid" value="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="supply_id">Supply</label>
                                        <select class="form-control js-example-basic-single" id="supply_id" name="supply_id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="quantity" id="quantityLabel">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" required>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_add">Submit</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Adding Supply Request Modal -->

    <!-- editing Request Modal -->
    <div class="modal fade" id="editing_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Request Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="e_form_id" name="e_form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <input type="hidden" name="e_uuid" id="e_uuid" value="" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_requestor">Requestor</label>
                                        <select class="form-control js-example-basic-single" id="e_requestor" name="e_requestor">
                                            <option value="Warehouse">Warehouse</option>
                                            <option value="Procurement">Procurement</option>
                                            <option value="Hospital Department">Hospital Department</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_request_type">Request type</label>
                                        <select class="form-control js-example-basic-single" id="e_request_type" name="e_request_type">
                                            <option value="For Request">For Request</option>
                                            <option value="To Request">To Request</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_request_status" id="e_request_statusLabel">Request Status</label>
                                        <select class="form-control js-example-basic-single" id="e_request_status" name="e_request_status">
                                            <option value="Pending">Pending</option>
                                            <option value="For Delivery">For Delivery</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_save">Save</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END editing Request Modal -->

    <!-- Editing Request Supply Modal -->
    <div class="modal fade" id="editing_supply_modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Supply Form</h4>
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- CONTENT -->
                    <form id="form_id" name="e_supply_form_id" enctype="multipart/form_data">
                        <div class="card-body">
                            <input type="hidden" id="e_uuid" name="e_uuid" value="">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_supply_id">Supply</label>
                                        <select class="form-control js-example-basic-single" id="e_supply_id" name="e_supply_id">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="e_quantity" id="quantityLabel">Quantity</label>
                                        <input type="number" class="form-control" id="e_quantity" placeholder="Enter Quantity" required>
                                    </div>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="Submit" class="btn btn-primary" id="button_add">Submit</button>
                            </div>
                            <!-- END BUTTONS -->
                        </div>
                    </form> <!-- END CONTENT -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <!-- END Editing Request Supply Modal -->
{%endblock%}

{%block scripts%}
    <script> 
        var request_id = _GET('request_id') 

        console.log(request_id);
    </script>
    <script src="{{url_for('static', path='/dist/js/warehousing/admin/viewRequest.js')}}"></script>
{%endblock%}